@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

body {
  margin: 0px;
  font-family: "Ubuntu", sans-serif;
}

a:focus {
  outline: none;
}

input:focus {
  outline: none;
}

button:focus {
  outline: none;
}

select:focus {
  outline: none;
}

option:focus {
  outline: none;
}

.title-bar {
  width: 100%;
  height: 30px;
}

.title-bar-logo {
  width: 20px;
  height: auto;
  margin: 5px;
  margin-left: 10px;
}

.title-bar-title {
  color: #999999;
  position: absolute;
  line-height: 30px;
  margin-left: 10px;
}

.title-bar-close {
  position: absolute;
  right: 0px;
  top: -4px;
  font-size: 30px;
  color: #999999;
  margin-right: 10px;
}

.title-bar-close:hover,
.title-bar-close:focus {
  color: #e74c3c;
  text-decoration: none;
  cursor: pointer;
}

.title-bar-size {
  position: absolute;
  right: 40px;
  top: -4px;
  font-size: 27.5px;
  color: #999999;
  margin-right: 10px;
}

.title-bar-size:hover,
.title-bar-size:focus {
  color: #cccccc;
  text-decoration: none;
  cursor: pointer;
}

.title-bar-minimize {
  position: absolute;
  right: 80px;
  top: 5px;
  font-size: 15px;
  color: #999999;
  margin-right: 10px;
}

.title-bar-minimize:hover,
.title-bar-minimize:focus {
  color: #cccccc;
  text-decoration: none;
  cursor: pointer;
}

.drag-bar {
  width: 90%;
  height: 30px;
  position: absolute;
  top: 0px;
  left: 0px;
  -webkit-app-region: drag;
}

.green {
  background-color: #2ecc71;
}

.nav-box {
  width: 100%;
  height: 100px;
  text-align: center;
  line-height: 100px;
}

.title {
  position: relative;
  font-size: 60px;
  top: 0px;
  font-weight: bold;
  color: #ecf0f1;
  text-shadow: 3px 3px 4px #222;
}

.logo {
  width: 80px;
  height: auto;
  position: absolute;
  left: 0px;
  top: 0px;
  margin-left: 40px;
}

.menu {
  position: absolute;
  right: 0px;
  line-height: 0px;
  text-align: right;
  line-height: 0px;
  top: 35px;
  margin-right: 40px;
}

.menu img {
  width: 30px;
  margin-left: 20px;
  margin-right: 20px;
  -webkit-filter: drop-shadow(1px 1px 1px #222);
  filter: drop-shadow(1px 1px 1px #222);
  cursor: pointer;
}

.content {
  text-align: center;
  margin-top: 50px;
}

.input {
  display: flex;
  justify-content: center;
}

.input input {
  border-radius: 4px;
  border: 3px solid #2ecc71;
  width: 300px;
  height: 50px;
  margin: 20px;
  margin-left: 20px;
  margin-right: 20px;
  font-family: "Ubuntu", sans-serif;
  font-size: 15px;
  padding-left: 10px;
}

::placeholder {
  font-family: "Ubuntu", sans-serif;
  font-size: 15px;
}

.generate {
  margin-top: 100px;
}

.generate-box {
  padding: 50px;
  border: 1px solid grey;
  margin: 0 auto;
  width: 250px;
  height: 300px;
  border-radius: 4px;
  -webkit-box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.75);
}

.logo-icon {
  width: 100px;
  height: 100px;
  margin-bottom: 40px;
}

.download-icon {
  width: 35%;
  height: auto;
  margin-bottom: 40px;
  display: none;
  cursor: pointer;
}

.loading-icon {
  width: 35%;
  height: auto;
  margin-bottom: 40px;
  display: none;
}

.progress-text {
  position: relative;
  top: 40px;
}

.error-message {
  color: #e74c3c;
  position: relative;
  top: 23px;
}

.btn {
  border-radius: 5px;
  padding: 15px 25px;
  font-size: 22px;
  text-decoration: none;
  margin: 20px;
  color: #fff;
  position: relative;
  display: inline-block;
  background-color: #2ecc71;
  box-shadow: 0px 5px 0px 0px #21884d;
  border: 0px solid;
  font-family: "Ubuntu", sans-serif;
  cursor: pointer;
}

.btn:active {
  transform: translate(0px, 5px);
  -webkit-transform: translate(0px, 5px);
  box-shadow: 0px 1px 0px 0px;
}

.download-btn {
  position: relative;
  top: 30px;
}

:root {
  --modal-duration: 1s;
  --modal-color: #2a2a2a;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
  margin: 5% auto;
  width: 60%;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
  animation-name: modalopen;
  animation-duration: var(--modal-duration);
}

.modal-header h2,
.modal-footer h3 {
  margin: 0;
}

.modal-header {
  background: var(--modal-color);
  padding: 15px;
  color: #ecf0f1;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: #2ecc71;
}

.modal-body {
  padding: 10px 20px;
  max-height: 600px;
  overflow-y: auto;
}

.modal-body h3 {
  position: relative;
  left: 0px;
  text-align: left;
  line-height: 70px;
  margin-left: 20px;
  font-size: 25px;
}

.modal-footer {
  padding: 10px;
  color: #ecf0f1;
  text-align: center;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.close {
  color: #ccc;
  float: right;
  font-size: 30px;
  color: #fff;
}

.close:hover,
.close:focus {
  color: #e74c3c;
  text-decoration: none;
  cursor: pointer;
}

@keyframes modalopen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.save-under-img {
  width: 60%;
  -webkit-filter: drop-shadow(3px 3px 5px #222);
  filter: drop-shadow(3px 3px 5px #222);
}

.settings-box {
  width: 100%;
  height: 70px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 6px;
}

.theme-slider {
  text-align: right;
  margin-right: 120px;
}

.switch {
  position: relative;
  line-height: 70px;
  top: -76px;
  display: inline-block;
  width: 60px;
  height: 34px;
  text-align: right;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #2c3e50;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #f6e58d;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.theme-icons {
  text-align: right;
}

.theme-icons img {
  width: 30px;
  margin-left: 60px;
  margin-right: 60px;
  position: relative;
  top: -118px;
}

.language-select {
  text-align: right;
  position: relative;
  top: -95px;
  margin-right: 60px;
  line-height: 70px;
}

.language-dropdown {
  width: 180px;
  height: 40px;
  border-radius: 3px;
  border: 0px;
}

.language-dropdown option {
  border: 0px;
}
